<!DOCTYPE html>
<html>
<head>
    <title>Placement Dashboard</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container-fluid dashboard-container">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded shadow">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="#">
                🎓 College Placement Analytics System
            </a>

            <span class="navbar-text text-white">
                Flask • PostgreSQL • Chart.js
            </span>
        </div>
    </nav>

    <div class="card shadow border-0 mt-4">

        <div class="card-header bg-dark text-white">
            Filters
        </div>

        <div class="card-body">

            <div class="row g-3">

    <!-- Branch -->
    <div class="col-md-2">
        <label class="form-label">Branch</label>
        <select class="form-select" id="branchFilter">
            <option value="">All Branches</option>
        </select>
    </div>

    <!-- Year -->
    <div class="col-md-2">
        <label class="form-label">Graduation Year</label>
        <select class="form-select" id="yearFilter">
            <option value="">All Years</option>
        </select>
    </div>

    <!-- Company -->
    <div class="col-md-2">
        <label class="form-label">Company</label>
        <select class="form-select" id="companyFilter">
            <option value="">All Companies</option>
        </select>
    </div>

    <!-- Status -->
    <div class="col-md-2">
        <label class="form-label">Status</label>
        <select class="form-select" id="statusFilter">
            <option value="">All</option>
            <option value="placed">Placed</option>
            <option value="unplaced">Unplaced</option>
        </select>
    </div>

    <!-- Search -->
    <div class="col-md-2">
        <label class="form-label">Search Student</label>
        <input
            type="text"
            class="form-control"
            id="searchBox"
            placeholder="Enter student name">
    </div>

    <!-- Sort -->
    <div class="col-md-2">
        <label class="form-label">Sort by Package</label>
        <select class="form-select" id="sortPackage">
            <option value="">Default</option>
            <option value="high">Highest to Lowest</option>
            <option value="low">Lowest to Highest</option>
        </select>
    </div>

    <!-- Buttons -->
    <div class="col-12 d-flex justify-content-end gap-2 mt-2">

        <button
            class="btn btn-primary px-4"
            id="applyFilters">
            Apply
        </button>

        <button
            class="btn btn-secondary px-4"
            id="resetFilters">
            Reset
        </button>

    </div>

</div>

        </div>

    </div>


    <!-- KPI Cards -->
    <div class="row row-cols-1 row-cols-md-5 g-3">

      <div class="col">
    <div class="card shadow border-0 text-center">
        <div class="card-body">

            <i class="bi bi-people-fill text-primary fs-1"></i>

            <h6 class="mt-2" id="totalStudentsLabel">Total Students</h6>
             <h2 id="totalStudents">{{ total_students }}</h2>

        </div>
    </div>
</div>
        <div class="col">
    <div class="card shadow border-0 text-center">
        <div class="card-body">

            <i class="bi bi-person-check-fill text-success fs-1"></i>

            <h6 class="mt-2" id="statusStudentsLabel">Placed Students</h6>

             <h2 id="placedStudents">{{ placed_students }}</h2>

        </div>
    </div>
</div>

        <div class="col">
    <div class="card shadow border-0 text-center">
        <div class="card-body">

            <i class="bi bi-graph-up-arrow text-warning fs-1"></i>

            <h6 class="mt-2" id="statusRateLabel">Placement Rate</h6>

           <h2 id="placementRate">{{ placement_rate }}%</h2>

        </div>
    </div>
</div>
       <div class="col">
    <div class="card shadow border-0 text-center">
        <div class="card-body">

            <i class="bi bi-currency-rupee text-danger fs-1"></i>

            <h6 class="mt-2">Average Package</h6>

            <h2 id="avgPackage">{{ avg_package }} LPA</h2>
        </div>
    </div>
</div>
        <div class="col">
    <div class="card shadow border-0 text-center">
        <div class="card-body">

            <i class="bi bi-trophy-fill text-info fs-1"></i>

            <h6 class="mt-2">Highest Package</h6>

            <h2 id="highestPackage">{{ highest_package }} LPA</h2>

        </div>
    </div>
</div>

    </div>
    

    <!-- First Row of Charts -->
  <div class="row mt-4">

    <div class="col-xl-6 col-lg-6 col-md-12 mb-4">
        <div class="card shadow border-0 h-100">

            <div class="card-header bg-primary text-white">
                <i class="bi bi-bar-chart-fill"></i>
                Branch-wise Placements
            </div>

            <div class="card-body">
                <canvas id="branchChart"></canvas>
            </div>

        </div>
    </div>

    <div class="col-lg-6 mb-4">
        <div class="card shadow border-0 h-100">

            <div class="card-header bg-success text-white">
                <i class="bi bi-pie-chart-fill"></i>
                Company-wise Hiring
            </div>

            <div class="card-body">
                <canvas id="companyChart"></canvas>
            </div>

        </div>
    </div>

</div>
    <!-- Second Row of Charts -->
   <div class="row">

    <div class="col-lg-6 mb-4">
        <div class="card shadow border-0 h-100">

            <div class="card-header bg-warning text-dark">
                <i class="bi bi-graph-up-arrow"></i>
                Year-wise Placements
            </div>

            <div class="card-body">
                <canvas id="yearChart"></canvas>
            </div>

        </div>
    </div>

    <div class="col-lg-6 mb-4">
        <div class="card shadow border-0 h-100">

            <div class="card-header bg-danger text-white">
                <i class="bi bi-currency-rupee"></i>
                Package Distribution
            </div>

            <div class="card-body">
                <canvas id="packageChart"></canvas>
            </div>

        </div>
    </div>

</div>

    <!-- Placed Students Table -->
   <div class="card shadow border-0 mt-4">

    <div class="card-header bg-dark text-white">
        <i class="bi bi-table"></i>
        Placed Students
    </div>

    <div class="card-body">

        <div class="table-responsive">

            <table class="table table-striped table-hover align-middle">

                <thead class="table-primary">

                    <tr>
                        <th>Name</th>
<th>Branch</th>
<th>Company</th>
<th>Package (LPA)</th>
<th>Graduation Year</th>
                    </tr>

                </thead>

                <tbody id="studentTable">

                </tbody>
                <div class="d-flex justify-content-between align-items-center mt-3">

    <span id="pageInfo" class="text-muted">
        Page 1
    </span>

    <div>
        <button
            class="btn btn-outline-primary btn-sm"
            id="prevPage">
            ← Previous
        </button>

        <button
            class="btn btn-outline-primary btn-sm"
            id="nextPage">
            Next →
        </button>
    </div>

</div>

            </table>

        </div>

    </div>
</div>
</div>
<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Your JS -->
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>